/* Cambia el color de fondo de la barra de navegación */
.custom-bg {
  background-color: #A86666 !important; /* Reemplaza el color de Bootstrap */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-link {
  font-size: 16px;
  color: white !important;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
